body{
  font-family: 'Roboto', sans-serif;
}

.container{
  width:90%;
  max-width:1024px;
  margin:0 auto;
  height: auto;
}
.header{
  border-bottom:1px solid #777;
}
.main{
  min-height: 300px;
  height: auto;
  padding:30px 0 100px;
}


.main ul{
  line-height: 1.8;
}
.footer{
  border-top:1px solid #777;
}
.info-box{
  background:#F5F5F5;
  padding:10px 20px;
}
.info-box h3{
  border-bottom:1px dashed #CCC;
  padding-top:30px;
}
.info-box h3:first-child{
  padding-top:0px;
}
.empty{
  
  padding: 100px 30px;
  text-align: center;
  margin-bottom:50px;
}