@import "normalize.css";

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    height: auto;
}

.header {
    border-bottom: 1px solid #DEDEDE;

    & h1 {
        font-weight: 300;
        margin-bottom: 0;

        & a {
            text-decoration: none;
            color: #000;
        }
    }

    & h2 {
        font-weight: 400;
        font-size: 16px;
        color: #888;
    }

    padding-bottom:12px;
}

.main {
    min-height: 300px;
    height: auto;
    // padding: 30px 0 100px;
    margin-top: 20px;

    & .breadcrumb {
        font-size: 14px;
        padding: 0;
        margin: 0%;
    }
}

.city-listing {
    & .browse {
        // margin-bottom: 0;
    }

    & h3 {
        background-color: #f8f8f8;
        padding: 10px 10px;
        line-height: 1;
        margin-top: 50px;

        &:first-child {
            margin-top: 0;
            background-color: red;
        }
    }

    & ul {
        line-height: 1.8;
        list-style: square;
    }
}

.footer {
    border-top: 1px solid #DEDEDE;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 80px;
    text-align: center;

    & p {
        font-size: 12px;
        line-height: 2;
        color: #888;
    }

    & .bold {
        font-weight: 500;
    }

}

.gap {
    margin: 0 5px;
}

.city-data {
    & h2 {
        margin-top: 40px;
    }
}

.info-box {
    // background: #f5f5f5;
    // padding: 10px 20px;
    margin-top:50px;

    & h3 {
        // border-bottom: 1px dashed #CCC;
        padding-top: 30px;
        margin-bottom: 10px;

        &:first-child {
            padding-top: 0px;
        }
    }
    & .more-info{
        font-size: 12px;
        margin-top: 30px;

    }
}

.empty {
    padding: 100px 30px;
    text-align: center;
    margin-bottom: 50px;
    background: #f5f5f5;
}

$table-border-color:#bdbdbd;
.table{
    width:100%;
    text-align:left ;
    font-size: 14px;
    // vertical-align: top;
& th, td{
    border-right:1px solid $table-border-color;
    border-bottom:1px solid $table-border-color;
    vertical-align: top;
    &:first-child{
        border-left:1px solid $table-border-color;
       }
}
    & th{
        border-bottom-width:2px;
        // border:1px solid $table-border-color;
        // border-left:0;
        border-top:1px solid $table-border-color;
        padding: 10px;
        background-color: #eeeeee;
    }
    & td{
       
        padding: 10px;
    }
}